@{
    ViewData["Title"] = "Zabójca na zlecenie";
}


<div class="text-center margin">
    <h1 class="display-2">Smutny Guts</h1>
    <img src="~/images/guts-llorando.png" />
</div>

<div class="text-center">
    <h2>Pare słów o mnie:</h2>
    <p class="characteristic">
        "Krzywdy powinno się wyrządzać wszystkie naraz, aby krócej doznawane, mniej tym samym krzywdziły, natomiast dobrodziejstwa świadczyć trzeba po trosze, aby lepiej smakowały." Niccolo Machiavelli<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas quam non felis accumsan, at euismod lectus mollis. Phasellus rhoncus feugiat sem, sit amet aliquam augue tempus ac. Vivamus tincidunt odio quis libero posuere, id faucibus lectus facilisis. Aenean aliquet ac erat ac pellentesque. Maecenas finibus iaculis auctor. Sed fermentum, nulla in lacinia euismod, sapien mi iaculis elit, nec suscipit urna neque a lorem. Morbi id dolor gravida, hendrerit sapien gravida, maximus nunc. In sit amet cursus odio. Phasellus turpis mi, convallis eget lorem ut, elementum tincidunt dolor. Pellentesque tristique cursus eros et placerat. Sed consectetur commodo pulvinar. Mauris pulvinar elit nec ligula imperdiet tristique. Nunc elementum arcu vel lacinia hendrerit. Ut accumsan, nisi nec bibendum pellentesque, arcu turpis rhoncus nibh, at maximus libero nisl sed massa. Nam malesuada efficitur erat, et ultricies erat elementum et.
    </p>
    <h2>Atrybuty:</h2>
    <p class="characteristic">
        Siła jak modliszka<br />
        Zwinność jak gepart  <br />
        Kondycja jak bocian <br />
        Inteligencja jak delfin<br />
        Litość to zbrodnia
    </p>
    <h2>Umiejętności:</h2>
    <p class="characteristic">
        #Latające kolano<br />
        #Uderzenie z byka<br />
        Próbowałem zrobić automatyczną aktualizację tej listy przy dodawaniu nowej umiejętności do bazy danych jednak jeszcze nie teraz.
    </p>
</div>
