body {
}
input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    border: 1px solid;
    padding: 5px;
}
.backgroundPeople {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1 {
    font-size: 64px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
}
.backgroundBook {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
